{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/payment-breakdown">feedback</a> will help us to improve it.</span>
  </p>
</div>

<!-- {{data|dump}}{{fee_payable|dump}} -->
    <div class="grid-row">
        <div class="column-two-thirds">

            <form class="form" action="/pay/enter-card-details" novalidate>
                <input type="hidden" name="" value="">
                
        <h1 class="heading-large">
            Payment
        </h1>
        <table class="form-group">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium">Application fee</div>
                        </div>
                    </td>
                    <td class="change-answer">
                        <div class="font-medium">&pound;20<!-- {{application_fee}} --></div>
                    </td>
                </tr>
                
                <!-- <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium"> {{data['ukGrant']}} UK copies</div>
                        </div>
                    </td>
                    <td>
                        <div class="font-medium">&pound;{{ukGrantFee}}</div>
                    </td>
                </tr> -->

                {% if overseasGrantFee > 0 %}
                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium"> {{data['overseasGrant']}} copies for use outside the UK</div>
                        </div>
                    </td>
                    <td>
                        <div class="font-medium">&pound;{{overseasGrantFee}}</div>
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium">Total due</div>
                        </div>
                    </td>

                    <td>
                            <div class="font-medium">&pound;20</div>
                    </td>
                </tr>
            </tbody>
        </table>
    <div class="form-group">
        <input class="button" type="submit" value="Continue">
    </div>

            </form>
            
        </div>
    </div>
</main>


{% endblock %}
