{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/payment-breakdown">feedback</a> will help us to improve it.</span>
  </p>
</div>

<!-- {{data|dump}}{{fee_payable|dump}} -->
    <div class="grid-row">
        <div class="column-two-thirds">

            <form class="form" action="/pay/enter-card-details" novalidate>
                <input type="hidden" name="" value="">

        <h1 class="heading-large">
            Payment summary
        </h1>


        <table class="form-group">
            <tbody>
                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-small">Description</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-small">Quantity</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-small">Price</div>
                        </div>
                    </td>

                </tr>

                <!-- <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium"> {{data['ukGrant']}} UK copies</div>
                        </div>
                    </td>
                    <td>
                        <div class="font-medium">&pound;{{ukGrantFee}}</div>
                    </td>
                </tr> -->

                {% if overseasGrantFee > 0 %}
                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium"> {{data['overseasGrant']}} copies for use outside the UK</div>
                        </div>
                    </td>
                    <td>
                        <div class="font-medium">&pound;{{overseasGrantFee}}</div>
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds pay-column">
                            <div class="font-small">Grant of probate notification</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="font-small">1</div>
                        </div>
                    </td>

                    <td>
                            <div class="font-small">&pound;<span id="numberOfSearch">10.00<span></div>
                    </td>
                </tr>

                {% if (data['copies'] === "Yes") %}
                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="font-small">Copies of will and grant</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="font-small">{{ data['copiesAmount'] if data['copiesAmount'] else '[copiesAmount]' }}</div>
                        </div>
                    </td>

                    <td>
                            <div class="font-small">&pound;<span id="numberOfCopies">{{ (data['copiesAmount'] * 0.5) | toFixed(2)  }}</span></div>
                    </td>
                </tr>
                {% endif %}

                <!-- <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="font-small">Copies of grant</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="font-small">2</div>
                        </div>
                    </td>

                    <td>
                            <div class="font-small">&pound;1.00</div>
                    </td>
                </tr> -->

                <tr>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-small">Total due</div>
                        </div>
                    </td>
                    <td colspan="2">
                        <div class="grid-row column-two-thirds">
                            <div class="bold-medium"></div>
                        </div>
                    </td>

                    <td>

                      <div class="bold-small">&pound;{{totalDue}}</div>
                    </td>
                </tr>

            </tbody>
        </table>
    <div class="form-group">
        <input class="button" type="submit" value="Continue">
    </div>

            </form>

        </div>
    </div>
</main>


<script>
var numbers = [20, 44, 12, 4];

function getSum(total, num) {
    return total + num;
}
function myFunction(item) {
    document.getElementById("orderTotal").innerHTML = numbers.reduce(getSum);
}
</script>


{% endblock %}
