{% extends "layout_no_sign_out.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
  <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="http://www.smartsurvey.co.uk/s/CFZF7/?pageurl=/start-page">feedback</a> will help us to improve it.</span>
  </p>
</div>


    <h1 class="form-title heading-large text">Stop a grant of probate</h1>

    <p class="text">Use this service to stop an application for a grant of probate. This is known as applying for a 'caveat'. </p>

    <p class="text">You may want to stop an application for a grant of probate when:</p>
      <ul class="list list-bullet text">

        <li>you think the person who made the will was being influenced by someone else or was not able to make their own decisions</li>
        <li>the person applying for probate refuses to share a copy of the will with you</li> 
        <li>you think the person applying won’t be able to carry out the instructions in the will</li>
        <li>you think the person applying is not eligible to apply if there was no will (see <a href="https://www.gov.uk/inherits-someone-dies-without-will">who inherits if there is no will</a>)</li>

      </ul>
    <p class="text">These are the most common reasons, but there may be other reasons too.</p> 

    <!-- <p class="text">You should not stop an application for a grant of probate if you want to challenge whether adequate financial provision has been made for you by the person who died. You would need to make a claim under the ‘Inheritance (Provision for Family and Dependants) Act 1975’ instead. --> 

    <p class="text">You should always try to sort things out with the person applying for probate before you stop their application. 

    <div class="notice">
              <i class="icon icon-important">
                <span class="visually-hidden">Warning</span>
              </i>
              <strong class="bold-small text">
                You may have to pay legal costs if you stop an application without a good reason.
              </strong>
            </div> 

    <h2 class="heading-medium">You will need:</h2>

    <p class="text">
    <ul class="list list-bullet text">
      <li>the full name of the person who died (and any other names they were known by)</li>
      <li>the exact date they died</li>
      <li>a home address in England and Wales</li>
    </ul>
      </p>

    <h2 class="heading-medium">Fees</h2>

    <p class="text">
    It costs £20 to stop an application for a grant of probate. This will last for 6 months. </p>
    <p class="text">You will need to apply again if you want to stop the application for a further 6 months. 
    </p>
    <p class="text">
    You'll need to pay online by debit or credit card.
    </p>


    <!-- <p class="text">
        You may be able to <a href="https://www.gov.uk/get-help-with-court-fees" target="_blank">get help paying the fee</a> if you have little or no savings, are on certain benefits or have a low income.</p> -->
<!-- 
^^ THIS WASNT MENTIONED BEFORE. -->



        <p><a href="/deceased/name" class="button button-start">Start now</a></p>


</main>


{% endblock %}
