{% import "../components/findAddressComponent.html" as address %}
{% extends "question_no_sign_out.html" %}

{% block question %}
{{ title }}
{% endblock %}
{% block form %}
<!-- <p class="text">If you don't know the address, leave this page blank and continue with your application. --> 
{% if instructionText %}
<p class="text">{{ instructionText }}</p> 
{% endif %}
{% if instructionText2 %}
<p class="text">{{ instructionText2 }}</p>
{% endif %}

{{ address.findAddressComponent(addresses) }}

{% endblock %}
