{% extends "question_no_sign_out.html" %}

{% set question = "How many extra copies do you want?" %}

{% block question %}
    {{ question }}
{% endblock %}

{% block form %}
<p class="text"></p>
<div class="form-group">
<fieldset class="form-group " id ="dod_date">
    <legend class="visually-hidden">Please enter date of death</legend>

    <label class="form-label" for="numberOfExecutors">
                Number of copies
            </label>
    <input class="form-control" id="copiesAmount" type="number" name="copiesAmount" style="width:4em;" value="{{data['copiesAmount']}}">

    <br>
    <br>


    <!-- <label class="form-label" for="numberOfExecutors">
                Number of grants
            </label>
    <input class="form-control" id="numberOfGrants" type="number" name="numberOfGrants" style="width:4em;" value="{{data['numberOfGrants']}}"> -->

</fieldset>
</div>
{% endblock %}
