{% extends "question_no_sign_out.html" %}

{% set question %}
Do you want extra copies of {{ data['deceasedFirstName'] if data['deceasedFirstName'] else '[deceasedFirstName]' }}'s will and grant of probate?
{% endset %}

{% block question %}
{{ question }}
{% endblock %}

{% block form %}
<p>You'll get a one copy of the will and grant of probate.</p>
<div class="form-group">
  <fieldset class="inline">
    <legend class="visually-hidden">{{ question }}</legend>
    <div class="multiple-choice">
      <input id="radio-1" type="radio" name="copies" value="Yes" {{ data['copies'] | checkedIf('Yes') }}>
      <label for="radio-1">Yes</label>
    </div>
    <div class="multiple-choice">
      <input id="radio-2" type="radio" name="copies" value="No" {{ data['copies'] | checkedIf('No') }}>
      <label for="radio-2">No</label>
    </div>
  </fieldset>
</div>
{% endblock %}
